* {
    font-family: "Montserrat", sans-serif;
}

strong {
    font-size: 150%;
    font-style: bold;
}

.navbar-burger {
    margin-top: 12px;
    margin-bottom: 12px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contrast * {
    color: white;
}

.hero-bottom {
    margin-bottom: 64px;
}

#navbar {
    z-index: 10;
    position: fixed;
    top: -120px;
    width: 100%;
    transition: top .5s;
}

.outer {
    padding: 64px;
}

.inner {
    padding: 16px;
}

.is-centered {
    display: block;
    margin: auto;
    justify-content: center;
}

.section-header {
    font-weight: bold;
    font-size: 200%;
}

.header {
    font-weight: bold;
    color: blue;
    font-size: 120%;
}

.vert-margin {
    margin-top: 32px;
    margin-bottom: 32px;
}

.entry {
    margin-bottom: 16px;
}

.entry-title {
    font-weight: bold;
    font-size: 120%;
}

.entry-place {
    margin-right: 128px;
}

img.avatar {
    border-radius: 50%;
}

.job-desc {
    font-size: 80%;
}